<h3>Registro de cursos para el ciclo {{ciclo.periodo}} ({{ciclo.nCursosRegistrados}} de {{ciclo.nCursos}} cursos registrados)</h3>
<form
    [formGroup]="form"
    (ngSubmit)="onSubmit(form.value)">
    <div class="row">
        <div class="col-5">
            <label for="nombre">Nombre:</label>
            <input type="text" name="nombre" id="nombre" formControlName="nombre">
        </div>
        <div class="col-3">
            <label for="codigo">Código:</label>
            <input type="text" name="codigo" id="codigo" formControlName="codigo">
        </div>
        <div class="col-3">
            <label for="creditos">Créditos:</label>
            <input type="number" name="creditos" id="creditos" formControlName="creditos">
        </div>  
    </div>  
    <div class="row">
        <div class="col-5">
            <label for="nCampos">Cantidad de Evaluaciones:</label>
            <input type="number" name="nCampos" id="nCampos" formControlName="nCampos">
        </div> 
        <div class="col-5">
            <label for="vez">Número de veces:</label>
            <mat-form-field appearance="fill" >
                <mat-select [value]=1 formControlName="vez">
                  <mat-option [value]=1>
                    1
                  </mat-option>
                  <mat-option [value]=2>
                    2
                  </mat-option>
                  <mat-option [value]=3>
                    3
                  </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-2">
            <button type="submit" [disabled]="!form.valid || isComplete()">Registrar Curso</button>
        </div> 
    </div>  
</form>
