<p>table-evaluaciones-home works!</p>
<article>
    <h2>Editable Dynamic Table</h2>
    <table mat-table [dataSource]="dataSource">
      <ng-container [matColumnDef]="col" *ngFor="let col of displayedColumns">
        <th mat-header-cell *matHeaderCellDef>
          <span *ngIf="col !== 'edit'">
            {{col}}
          </span>
        </th>
        <td mat-cell *matCellDef="let element">
          <div *ngIf="!element.isEdit">
            <div class="btn-edit" *ngIf="col === 'edit'; spanHeader" >
              <button (click)="element.isEdit = !element.isEdit">Edit</button>
            </div>
            <span #spanHeader>
              {{element[col]}}
            </span>
          </div>
          <div *ngIf="element.isEdit">
            <div class="btn-edit" *ngIf="col === 'edit'; else dataField">
              <button (click)="element.isEdit = !element.isEdit">Done</button>
            </div>
            <ng-template #dataField>
              <mat-form-field>
                <mat-label>{{col}}</mat-label>
                <input type="text" matInput [(ngModel)]="element[col]">
              </mat-form-field>
            </ng-template>
          </div>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </article>
  <button (click)="viewData()">Ver data</button>