img{
    width: 25px;
    height: 25px;
}

button{
    background-color: #F1F6F9;
}

span{
    color: #14274E;
    font-size:16px
}

table{
    background-color: #F1F6F9;
}

th{
    background-color: #14274E;
}

th span{
    color: #F1F6F9;
}

tr{
    border-color: red;
}