<h2>Evaluaciones del Curso</h2>
<table mat-table [dataSource]="dataSource">
  <ng-container [matColumnDef]="col" *ngFor="let col of displayedColumns">
    <th mat-header-cell *matHeaderCellDef>
      <span *ngIf="col !== 'edit'">
        {{col}}
      </span>
    </th>
    <td mat-cell *matCellDef="let element">
      <div *ngIf="!element.isEdit">
        <div class="btn-edit" *ngIf="col === 'edit'; spanHeader">
          <button (click)="element.isEdit = !element.isEdit">Edit</button>
        </div>
        <span #spanHeader>
          {{element[col]}}
        </span>
      </div>
      <div *ngIf="element.isEdit">
        <div class="btn-edit" *ngIf="col === 'edit'; else dataField">
          <button (click)="processChanges(element)">Done</button>
        </div>
        <ng-template #dataField>
          <span *ngIf="col !== 'nota'">
            {{element[col]}}
          </span>
          <mat-form-field *ngIf="col === 'nota'">
            <mat-label>{{col}}</mat-label>
            <input type="number" matInput [(ngModel)]="element[col]">
          </mat-form-field>
        </ng-template>
      </div>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<!-- <button (click)="viewData()">Ver data</button> -->