


<ng-sidebar-container >
  <ng-sidebar [opened]="opened"> 
    <p>Sidebar Contents</p>
    <button (click)="toggleSidebar()">  
      Close Sidebar
    </button>
    <ul class="menu">
      <li>
        <a routerLink="/" (click)="toggleSidebar()">Inicio</a>
      </li>
      <li>
        <a routerLink="/register-grade" (click)="toggleSidebar()">Ingreso de Nota</a>
      </li>
      <li>
        <a routerLink="/register-cycle" (click)="toggleSidebar()">Registro de Ciclo</a>
      </li>
      <li>
        <a routerLink="/weighted-calculator" (click)="toggleSidebar()">Calculadora Ponderado</a>
      </li>
    </ul>
  </ng-sidebar>
  <div ng-sidebar-content>
    <button (click)="toggleSidebar()">  
      Open Sidebar
    </button>
    <router-outlet></router-outlet>
  </div>
</ng-sidebar-container>
