<mat-drawer-container class="example-container">
  <mat-drawer #drawer mode="side">
    <ul class="menu">
      <li>
        <a routerLink="/" (click)="toggleSidebar()">Inicio</a>
      </li>
      <li>
        <a routerLink="/register-grade" (click)="toggleSidebar()">Ingreso de Nota</a>
      </li>
      <li>
        <a routerLink="/register-cycle" (click)="toggleSidebar()">Registro de Ciclo</a>
      </li>
      <li>
        <a routerLink="/weighted-calculator" (click)="toggleSidebar()">Calculadora Ponderado</a>
      </li>
    </ul>
  </mat-drawer>
  <mat-drawer-content>
    <div class="row">
      <button mat-raised-button (click)="drawer.toggle()">
        <img src="../assets/icons/menu.png" alt="" width="20px" height="20px">
      </button>
    </div>
    <div class="row">
      <router-outlet></router-outlet>
    </div>
    </mat-drawer-content>
</mat-drawer-container>


