<div class="container">
  <div class="row">
    <div class="col-6">
      <app-select-ciclo-home (cicloSelectionChange)="cicloSelectionChangeMethod($event)"> </app-select-ciclo-home>
      <app-info-ciclo-home [idCicloSelected]="idCicloSelected"></app-info-ciclo-home>
    </div>
    <div class="col-6">
      <app-select-curso-home [idCicloSelected]="idCicloSelected" (cursoSelectionChange)="cursoSelectionChangeMethod($event)"></app-select-curso-home>
    </div>
  </div>
  <hr/>
  <div class="row mt-3">
    <div class="col">
      <app-info-curso-home #InfoCursoHome [idCursoSelected]="idCursoSelected" [mode]="'hor'"></app-info-curso-home>
    </div>
  </div>
  <div class="row mt-3" style="margin: auto;">
    <div class="col-12">
      <app-table-evaluaciones-home (evaluationGradeChanged)="InfoCursoHome.updateGradeTemp($event.promedioTemp, $event.porcentajeCumplido)" [idCursoSelected]="idCursoSelected"></app-table-evaluaciones-home>
    </div>
  </div>
</div>